.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.logo {
  width: 22px;
  height: 22px;

  fill: var(--main-text-color);
}
.title {
  font-size: 16px;
  font-weight: 600;
  line-height: calc(18 / 16);
}

@media screen and (min-width: 768px) {
  .logoContainer {
    gap: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .logo {
    width: 28px;
    height: 28px;
  }
  .title {
    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
