.list {
  display: flex;
  width: fit-content;
  list-style: none;
  gap: 14px;
}
.link {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(243, 243, 243, 0.2);
  padding: 7px;
  transition: border-color 400ms ease, transform 400ms ease;
}
.link:hover,
.link:focus {
  transform: translateY(-3px);
  margin-bottom: 3px;
  border-color: #f3f3f3;
}
.icon {
  width: 22px;
  height: 22px;
  fill: #f3f3f3;
}

@media screen and (min-width: 768px) {
  .list {
    gap: 16px;
  }
  .link {
    width: 44px;
    height: 44px;
  }
  .icon {
    width: 28px;
    height: 28px;
  }
}
