@import-normalize;
:root {
  /* Colors */
  --main-bgr-color: #0a0a11;
  --btn-hover-color: #161f37;
  --main-text-color: #f3f3f3;
  --correct-state-color: #3cbc81;
  --error-state-color: #da1414;
  --pagination-accent-color: #4070cd80;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: var(--main-text-color);
  font-family: sans-serif;
  line-height: 1.5;
  background-color: var(--main-bgr-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
